<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.empsys.backend.mapper.SchoolMapper">

    <!-- 获取所有学校列表 -->
    <select id="getAllSchools" resultType="com.empsys.backend.entity.School">
        SELECT * FROM schools ORDER BY school_id
    </select>
    
    <!-- 根据ID获取学校详情 -->
    <select id="getSchoolById" resultType="com.empsys.backend.entity.School">
        SELECT * FROM schools WHERE school_id = #{schoolId}
    </select>
    
<!--    &lt;!&ndash; 根据名称获取学校 &ndash;&gt;-->
<!--    <select id="getSchoolByName" resultType="com.empsys.backend.entity.School">-->
<!--        SELECT * FROM schools-->
<!--        WHERE name = #{name}-->
<!--    </select>-->
    
<!--    &lt;!&ndash; 添加学校 &ndash;&gt;-->
<!--    <insert id="insertSchool">-->
<!--        INSERT INTO school (school_id, name, address, contact)-->
<!--        VALUES (#{schoolId}, #{name}, #{address}, #{contact})-->
<!--    </insert>-->
<!--    -->
<!--    &lt;!&ndash; 更新学校信息 &ndash;&gt;-->
<!--    <update id="updateSchool">-->
<!--        UPDATE school-->
<!--        SET name = #{name},-->
<!--            address = #{address},-->
<!--            contact = #{contact}-->
<!--        WHERE school_id = #{schoolId}-->
<!--    </update>-->
    
</mapper> 
