<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.empsys.backend.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.empsys.backend.entity.Users">
            <id property="user_id" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,
        role,created_at,updated_at
    </sql>

    <!-- 根据用户名和密码查询用户 -->
    <select id="selectByUsernameAndPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where username = #{username} and password = #{password}
        <if test="role != null and role != ''">
            and role = #{role}
        </if>
        limit 1
    </select>
</mapper>
